/* Custom CSS styles */
.navbar {
    width: 100%;
}
  
  .user-dropdown .dropdown-toggle::after {
    display: none;
  }
  
  .sidebar-left {
    margin-top: 50px;
    height: 100vh;
    width: 70px; 
  }
  
  .section-container{
    width: 70%;
    margin-left: 100px;
    transform: translateY(20%);
  }
  
  .section-title {
    font-weight: 600;
  }

  /* Card Container */
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
    width: auto;
  }
  
  .card-bg1{
    background-color: rgba(252, 252, 87, 0.884);
  }
  .card-bg1 a{
    font-weight: 600;
    width: 100%;
  }
  
  .card-bg2{
    background: linear-gradient(to right,rgba(255, 213, 176, 0.977),rgba(247, 219, 237, 0.9));
  }
  
  .card-bg2 a{
    margin-left: 170px;
  }

  .card-bg3{
    background: linear-gradient(to right,rgba(176, 221, 255, 0.977),rgba(238, 235, 237, 0.362));
  }

  .card-bg3 a{
    margin-left: 100px;
    margin-top: 20px;
  }
      
  .section2 {
    margin: 100px;
    width: 70%;
  }

  /* Pinned Icon */
  .pinned-icon {
    background-color: #dee1e2;
  }

  /* Filter Icons */
  .filter-icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .sidebar-right {
      width: 300px; 
      transform: translateY(-30%);
    }

.card-right p{
    font-weight: 600;
}